*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #121212;
    font-family: 'Roboto Mono', monospace;
    color: #09f755;
    max-width: 100vw;
    height: 100vh;
    

    .main_div{
        max-width: 100vw;
        height: 100%;
        scroll-snap-type: y mandatory;
        overflow-y: hidden;
        overflow-x: hidden;

        section {
            max-width: 100vw;
            overflow-x: hidden;
            height: 100vh;
            scroll-snap-align: start;
        }
    }
}

.nav {
    position: fixed;
    right: 0;
    top: 41%;
    z-index: 1000;

    &>div {
        padding: 0.5em;
        cursor: pointer;
        text-align: end;
        transition: 0.5s ease;
        font-family: sans-serif;

        &:hover{
            letter-spacing: 0.3em;
            a{

                color: #09f755;
            }
        }

        a {
            text-decoration: none;
            color: lighten($color: orangered, $amount: 10);
        }
    }

}

.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.8rem;
    position: sticky;
    .main_heading{
        font-family: 'Roboto', sans-serif;
    }

    .menu_button{
        div{
            background-color: white;
            // width: 1.25rem;
            height: 0.1rem;
            margin: 0.25rem;
        }

        .first_line {
            width: 0.6rem;
        }

        .second_line {
            width: 0.9rem;
        }

        .third_line {
            width: 1.2rem;
        }
    }
}

.main_content{
    width: 100vw;
    padding: 15vh 10vw;
    position: relative;
    height: 75vh;

    .resume{
        margin: 2em 0;
        padding: 0.5em 1.5em;
        background: #09f755;
        border-radius: 1.5em;
        max-width: max-content;
        opacity: 0;
        transform: translateY(100%);
        transition: all 0.5s ease;
        animation: moveup 1s ease 10s forwards;

        &:hover{
            letter-spacing: 0.3em;
        }

        a{
            text-decoration: none;
            color: black;
            font-family: 'Roboto', sans-serif;
        }
    }

    div{
        color: white;
    }
    .first_text{
        font-family: 'Roboto Mono', monospace;
        position: relative;
        width : max-content;
    }
    .first_text::before,.first_text::after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .first_text::before{
        background-color: #121212;
        animation: typewriter 5s steps(14) 1s forwards;
    }
    .first_text::after{
        width: 0.1em;
        height: 100%;
        background-color: white;
        animation: typewriter 5s steps(14) 1s forwards,
                    blink 1s 1s ease-in-out infinite;
    }
    .second_text{
        padding: 0.5rem 0;
        font-size: 7em;
        font-family: 'Roboto', sans-serif;
        opacity: 0;
        transform: translateY(100%);
        animation: moveup 2s ease 7s forwards;
    }

    .third_text {
        transform: translateY(100%);
        opacity: 0;
        animation: moveup 1s ease-in-out 9.25s forwards;
    }


    .scroll_icon{
        position: absolute;
        bottom: 0;
        right: 46%;
        display: flex;
        align-items: center;
        opacity: 0;
        transform: translateY(300%);
        animation: arrow 1.5s ease-in-out 10.25s infinite;
        .left_arrow {
            background-color: white;
            margin-right: -0.425em;
            height: 0.3em;
            width: 2em;
            transform: rotate(-45deg);
        }
        .right_arrow {
            background-color: white;
            margin-left: -0.425em;
            height: 0.3em;
            width: 2em;
            transform: rotate(45deg);
        }
    }
}
@keyframes arrow {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes typewriter {
    to{
        left : 100%;
    }
}

@keyframes blink {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes moveup {
    to{
        transform: translateY(0);
        opacity: 1;
    }
}



.study {

    .heading_study{
        h1 {
            font-family: 'Roboto', sans-serif;
            color: white;
            padding: 1em 1em 3em;
            // font-size: 3em;
        }
    }

    .content_study {
        display: flex;
        flex-wrap: wrap;
        padding: 1vw;
        .block_study {
            height: 40vh;
            margin: 1em;
            background-color: whitesmoke;
            padding: 1em;
            max-width: 400px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: all 0.4s ease; 

            &:hover{
                background-color: grey;
            }

            div{
                color: #000000;
                font-family: 'Roboto', sans-serif;
                font-size: 2em;
            }
            .year {
                color: orangered;
                font-size: 6em;
            }
        }
    }
}

.projects {
    h1 {
        font-family: 'Roboto', sans-serif;
        color: white;
        padding: 2em 1em 3em 1em;
    }

    .content_projects {
        display: flex;
        flex-wrap: wrap;
        font-family: 'Roboto', sans-serif;
        font-size: 2em;

        .block_projects{
            height: 45vh;
            background-color: whitesmoke;
            color: orangered;
            // width: 40vw;
            width: 100%;
            max-width: 400px;
            margin: 1em;
            padding: 1em;
            border-radius: 10px;


        }
    }
}

.footer {
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;

    .footer_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1em 1em 1em 0;

        a {
            text-decoration: none;
            color: whitesmoke;
        }

        div {
            max-width: 400px;
            padding: 0 1em 1em 0;
            // padding: 2em 2em 2em 0;
            
        }
    }

    .light {
        color: lighten($color: #000000, $amount: 40);
    }

    .social {
        display: flex;
    }

}

.skills {
    height: 100vh;
    padding: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: orangered;
    // transition:   ease-in-out;
    background-repeat: no-repeat;

    &.html{
        background: url(../html.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    &.css{
        background: url(../css.png);
        background-size: cover;
        background-position-x: left;
        // background: url(../images/casey-horner-pXZxuXmpsNo-unsplash.jpg);
    }

    &.js{
        background: url(../js.png);
        background-size: cover;
        background-position-x: left;
    }

    &.cpp {
        background: url(../c++.png);
        background-position: cover;
        background-position: left;
    }

    &.git {
        background: url(../git.png);
        background-position: cover;
        background-position: left;
    }

    h1 {
        color: white;
    }

    .skills_content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 30vh 0;

        &>div{
            cursor: pointer;
            width: 70px;
            height: 70px;
            margin: 1em;
            border-radius: 5px;
            text-align: center;
            padding: 1.5em 0;
            border: orangered 1px solid;
        }
    }
}

@media (max-width: 760px){
    .nav {
        display: none;
    }
}
